In [1]:
%load_ext autoreload
%autoreload 2

import lib.fd_imputer as fd_imputer
import pandas as pd
import numpy as np
from sklearn import metrics
import itertools
import matplotlib.pyplot as plt

### Set up all paths and labels needed in this notebook

In [2]:
DATA_PATH = 'MLFD_fd_detection/backend/WEB-INF/classes/inputData/adult.csv'
SPLITS_PATH = 'MLFD_fd_detection/data/'
METANOME_DATA_PATH = 'MLFD_fd_detection/backend/WEB-INF/classes/inputData/'
FD_PATH = 'MLFD_fd_detection/results/HyFD-1.2-SNAPSHOT.jar2019-05-07T082200_fds'
DATA_TITLE = 'adult'

### Load data, make definitions

In [64]:
fd = pd.read_csv(DATA_PATH, sep=';', header=None)
fd_imputer.split_df('adult', fd, [0.8, 0.1, 0.1], SPLITS_PATH)

Dataset successfully written to MLFD_fd_detection/data/adult.csv
train set successfully written to MLFD_fd_detection/data/train/adult_train.csv
validate set successfully written to MLFD_fd_detection/data/validate/adult_validate.csv
test set successfully written to MLFD_fd_detection/data/test/adult_test.csv

In [158]:
df_train, df_validate, df_test = fd_imputer.load_dataframes(SPLITS_PATH, 
                                                            DATA_TITLE,
                                                           missing_value_token='noValueSetHere123156456')

In [76]:
fds = fd_imputer.read_fds(FD_PATH)
continuous = [0, 1, 3, 11, 12, 13] # cols containing continuous numbers

In [82]:
df_test = df_test.reset_index()

In [94]:
np.array_equal(df_test.iloc[:, 0].values, np.array(df_test.index))

True

In [92]:
np.array(df_test.index)

array([   0,    1,    2, ..., 3253, 3254, 3255])

In [83]:
df_test

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,6393,37,Private,196338,9th,5,Separated,Priv-house-serv,Unmarried,White,Female,0,0,16,Mexico,<=50K
1,1,16734,27,Private,116207,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,32,United-States,<=50K
2,2,25235,36,Private,31438,HS-grad,9,Divorced,Transport-moving,Unmarried,White,Male,0,0,43,NaN,<=50K
3,3,6871,35,Private,337286,Masters,14,Never-married,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
4,4,19695,41,Self-emp-inc,114967,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,United-States,>50K
5,5,3785,20,Private,231981,Some-college,10,Never-married,Transport-moving,Not-in-family,White,Male,0,0,32,United-States,<=50K
6,6,15754,47,Private,268022,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,55,United-States,>50K
7,7,4255,44,Private,228320,HS-grad,9,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,45,United-States,>50K
8,8,24653,36,Self-emp-not-inc,167691,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,50,United-States,<=50K
9,9,8671,33,State-gov,313729,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
10,10,23817,31,State-gov,557853,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,47,United-States,<=50K
11,11,17980,36,Private,199947,Some-college,10,Divorced,Machine-op-inspct,Own-child,White,Female,0,0,30,United-States,<=50K
12,12,28973,46,State-gov,363875,Some-college,10,Divorced,Protective-serv,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
13,13,6149,39,Self-emp-inc,167482,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
14,14,29674,27,Private,107812,Bachelors,13,Married-civ-spouse,Sales,Other-relative,White,Male,0,0,40,United-States,>50K
15,15,25440,46,Private,319163,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
16,16,12748,55,Private,305759,HS-grad,9,Divorced,Other-service,Not-in-family,White,Male,0,0,40,NaN,<=50K
17,17,12766,22,Private,83998,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
18,18,2430,60,Private,240521,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,40,United-States,>50K
19,19,12552,51,Private,193720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States,<=50K
20,20,5174,23,Private,202284,Bachelors,13,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
21,21,548,21,Private,259510,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,36,United-States,<=50K
22,22,6309,32,Private,169841,Some-college,10,Divorced,Sales,Not-in-family,White,Female,0,0,55,United-States,<=50K
23,23,19834,20,State-gov,178628,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
24,24,23592,62,NaN,81578,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,>50K
25,25,11559,63,Private,50349,HS-grad,9,Widowed,Other-service,Not-in-family,White,Female,0,0,34,United-States,<=50K
26,26,12526,46,State-gov,30219,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,38,United-States,>50K
27,27,27810,56,Private,37394,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
28,28,31153,53,Self-emp-not-inc,187830,Assoc-voc,11,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,Poland,<=50K
29,29,22983,56,NaN,32604,Some-college,10,Never-married,NaN,Not-in-family,Black,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226,3226,24858,54,Private,143822,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,>50K
3227,3227,19605,40,Private,171424,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
3228,3228,10383,33,Private,203488,Some-college,10,Divorced,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
3229,3229,25409,19,Private,184121,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
3230,3230,24576,52,Self-emp-not-inc,129311,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,95,United-States,>50K
3231,3231,1851,63,NaN,231777,Masters,14,Married-civ-spouse,NaN,Husband,White,Male,0,0,30,United-States,<=50K
3232,3232,31235,27,NaN,174163,Some-college,10,Married-civ-spouse,NaN,Wife,White,Female,0,0,40,United-States,>50K
3233,3233,21799,38,NaN,212048,Prof-school,15,Divorced,NaN,Not-in-family,White,Female,0,0,30,United-States,<=50K
3234,3234,21475,56,Self-emp-not-inc,62539,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,65,Greece,>50K
3235,3235,1405,24,Private,241523,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,45,United-States,>50K
3236,3236,25829,31,Private,173495,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
3237,3237,6168,23,Private,182117,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
3238,3238,15793,36,Private,76845,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,35,United-States,<=50K
3239,3239,4369,22,NaN,211968,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,40,Iran,<=50K
3240,3240,9735,78,Private,180239,Masters,14,Widowed,Craft-repair,Unmarried,Asian-Pac-Islander,Male,0,0,40,South,<=50K
3241,3241,2921,23,Private,238917,7th-8th,4,Never-married,Craft-repair,Other-relative,White,Male,0,0,36,United-States,<=50K
3242,3242,20403,37,Private,164526,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
3243,3243,14521,27,Private,212622,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
3244,3244,13069,23,NaN,302836,Assoc-acdm,12,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,El-Salvador,<=50K
3245,3245,7770,28,State-gov,119793,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
3246,3246,9452,19,NaN,57329,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,Japan,<=50K
3247,3247,24627,35,Federal-gov,84848,Some-college,10,Never-married,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States,<=50K
3248,3248,24392,32,Private,190228,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,60,United-States,<=50K
3249,3249,12777,48,Private,247685,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,3325,0,40,United-States,<=50K
3250,3250,21552,23,Private,197552,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,35,United-States,<=50K
3251,3251,8652,44,Private,138077,Bachelors,13,Divorced,Adm-clerical,Unmarried,White,Female,0,0,32,United-States,<=50K
3252,3252,11380,24,Self-emp-not-inc,102942,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,50,United-States,<=50K
3253,3253,8879,34,Private,97723,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
3254,3254,23244,58,Private,248739,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,53,United-States,>50K
3255,3255,6070,48,Self-emp-not-inc,185385,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,98,United-States,<=50K

## FD_Imputer

In [159]:
res = fd_imputer.run_fd_imputer_on_fd_set(df_train, df_validate, fds, continuous)

{3: [0]}
{11: [0]}
{13: [0]}
{12: [0]}
{12: [13, 1, 2, 3, 4, 7]}
{12: [13, 1, 3, 4, 6, 7]}
{12: [13, 1, 3, 4, 7, 8]}
{12: [13, 1, 2, 3, 5, 7]}
{12: [13, 1, 3, 5, 6, 7]}
{12: [13, 1, 3, 5, 7, 8]}
{1: [0]}
{14: [0]}

/home/philipp/code/python-envs/mlfd/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/philipp/code/python-envs/mlfd/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/philipp/code/python-envs/mlfd/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/home/philipp/code/python-envs/mlfd/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

{4: [0]}
{4: [5]}
{5: [0]}
{5: [4]}
{7: [0]}
{2: [0]}
{6: [0]}
{6: [11, 13, 1, 3, 7, 8]}
{6: [13, 1, 3, 4, 7, 8]}
{6: [13, 1, 3, 5, 7, 8]}
{8: [0]}
{9: [0]}
{9: [11, 12, 13, 3, 7, 8]}
{9: [12, 13, 15, 3, 4, 6, 8]}
{9: [12, 13, 15, 3, 5, 6, 8]}
{9: [13, 1, 3, 4]}
{9: [13, 1, 3, 5]}
{9: [13, 1, 2, 3, 7]}
{9: [13, 14, 3, 4, 7]}
{9: [13, 14, 3, 4, 6, 8]}
{9: [13, 14, 3, 5, 7]}
{9: [13, 14, 3, 5, 6, 8]}
{9: [13, 14, 2, 3, 7]}
{9: [13, 14, 3, 6, 7]}
{9: [13, 14, 3, 7, 8]}
{9: [10, 13, 14, 15, 3, 7]}
{9: [13, 15, 2, 3, 4, 6, 8]}
{9: [13, 15, 2, 3, 5, 6, 8]}
{9: [12, 14, 2, 3, 4, 6, 8]}
{9: [12, 14, 2, 3, 5, 6, 8]}
{9: [12, 15, 2, 3, 4, 6, 8]}
{9: [12, 15, 2, 3, 5, 6, 8]}
{9: [14, 1, 3, 4]}
{9: [14, 1, 3, 5]}
{9: [14, 1, 2, 3, 7]}
{9: [14, 1, 2, 3, 6]}
{9: [1, 3, 4, 6]}
{9: [1, 3, 4, 8]}
{9: [15, 1, 3, 4]}
{9: [1, 3, 5, 6]}
{9: [1, 3, 5, 8]}
{9: [15, 1, 3, 5]}
{9: [1, 3, 6, 7]}
{9: [1, 3, 7, 8]}
{9: [15, 1, 3, 7]}
{9: [10, 14, 3, 4, 7]}
{9: [14, 15, 2, 3, 4, 6, 8]}
{9: [10, 14, 3, 5, 7]}
{9: [14, 15, 2, 3, 5, 6, 8]}
{9: [3, 4, 7, 8]}
{9: [3, 5, 7, 8]}
{10: [0]}
{10: [11, 12, 13, 2, 3, 4, 8]}
{10: [11, 12, 13, 2, 3, 5, 8]}
{10: [9, 11, 13, 2, 3, 4, 8]}
{10: [11, 13, 15, 2, 3, 4, 8]}
{10: [9, 11, 13, 2, 3, 5, 8]}
{10: [11, 13, 15, 2, 3, 5, 8]}
{10: [13, 1, 3, 8]}
{10: [13, 3, 7, 8]}
{10: [13, 2, 3, 6, 8]}
{10: [14, 1, 3, 8]}
{10: [1, 3, 4, 6]}
{10: [1, 3, 4, 8]}
{10: [1, 3, 5, 6]}
{10: [1, 3, 5, 8]}
{10: [1, 3, 6, 7]}
{10: [1, 3, 7, 8]}
{10: [9, 1, 3, 8]}
{10: [2, 3, 4, 7, 8]}
{10: [3, 4, 6, 7, 8]}
{10: [15, 3, 4, 7, 8]}
{10: [2, 3, 5, 7, 8]}
{10: [3, 5, 6, 7, 8]}
{10: [15, 3, 5, 7, 8]}
{15: [0]}

In [156]:
fd_imputer_results = {}
for rhs in fds:
    results = []
    for lhs in fds[rhs]:
        print(rhs, lhs)
        fd = {rhs: lhs}
        df_fd_imputed = fd_imputer.fd_imputer(df_validate, df_train, fd)
        
        # make sure that value for missing data is of same type as row to be imputed
        # to avoid mix of labels with scikit.metrics
        if isinstance(df_fd_imputed.iloc[0, rhs], str):
            df_fd_imputed = df_fd_imputed.fillna('no value')
            y_pred = df_fd_imputed.loc[:, str(rhs)+'_imputed']
            y_true = df_fd_imputed.loc[:, rhs]
        else:
            # count, when no imputations have been found
            na_selector = df_fd_imputed.loc[:, str(rhs)+'_imputed'].isna()
            nans = na_selector.sum()
            
            # only retrieve successfully imputed values to compute MSE
            y_pred = df_fd_imputed.loc[~na_selector, str(rhs)+'_imputed']
            y_true = df_fd_imputed.loc[~na_selector, rhs]

        
        if rhs in continuous:
            mse = ''
            
            if  len(y_pred) > 0:
                mse = metrics.mean_squared_error(y_true, y_pred)
            
            result = {
                'nans': nans,
                'lhs': lhs,
                'mse': mse
            }
        else:
            result = {
                'lhs': lhs,
                'precision': metrics.precision_score(y_true, y_pred, average='weighted'),
                'recall': metrics.recall_score(y_true, y_pred, average='weighted'),
                'f1': metrics.f1_score(y_true, y_pred, average='weighted')
            }
        results.append(result)
    fd_imputer_results[rhs] = results

3 [0]

KeyError: Int64Index([0, 3], dtype='int64')

In [81]:
df_validate.shape

(3256, 16)

In [80]:
df_test.shape

(3256, 16)

In [105]:
test_df.reset_index()

   index     0     1   2
0      0   1.0   2.0   3
1      1   4.0   5.0   9
2      2   5.0   7.0  12
3      0   1.0   2.0   4
4      1   7.0   8.0  15
5      2  11.0  13.0  24
6      3   NaN   NaN  54

In [199]:
df_validate = pd.DataFrame([[1, 2, 3], [4, 5, 9], [5, 7, 12]],
                                        columns=[0, 1, 2])
df_train = pd.DataFrame([[1, 2, 4], [7, 8, 15], [11, 13, 24],
                                     [np.nan, np.nan, 54]],
                                     columns=[0, 1, 2])
test_df = pd.concat([df_validate, df_train], ignore_index=True)

In [200]:
result = fd_imputer.run_fd_imputer_on_fd_set(df_train, df_validate, {2: [[1, 0]]}, [0, 1, 2, 3])

{2: [1, 0]}

In [201]:
result

{2: [{'nans': 2, 'lhs': [1, 0], 'mse': 1.0}]}

In [210]:
result[2][0]['nans']

2

In [189]:
train, validate, test = fd_imputer.split_df('adult', test_df, [0.6, 0.2, 0.2])

kein doppelter index

In [190]:
train

   0    1    2   3
2  2  5.0  7.0  12
6  6  NaN  NaN  54
0  0  1.0  2.0   3
3  3  1.0  2.0   4

In [191]:
fd = {3:[[2, 1]]}

In [195]:
df_train, df_validate = (map(fd_imputer.index_as_first_column, [df_train, df_validate]))